//colors
$red: #f3003a;
$black: #1e1e1e;
$green: #96ff2e;
$redDark: rgb(196, 0, 0);
$grey: #868686;

//fonts
$mainFont: "Amatic SC", sans-serif;
$secondFont: "Pangolin", sans-serif;

//animations
$textChange: textChange 0.4s infinite linear;

//border:
$border: 1px solid $black;
